* { 
    box-sizing:border-box;
}

div {
    border: 2px solid black;
    display: inline-block;
    margin: 1%;
}

.box-left {
    height: 160px;
    margin: 2%;
    width: 25%;
    vertical-align: top;
    text-align: center;
}

.box-right {
    height: 160px;
    margin: 2%;
    width: 65%;
    text-align: center;
}

.nav-bar{
    height: 35px;
    margin: 1%;
    width: 88%;
}

.inside-bar {
    height: 28%;
    width: 90%;
}

.no-border{
    border: 0px;
}

.w45 {
    width: 45%;
}

.smaller-bar {
    height: 90%;
    width: 46%;
    margin-top:5%
}