* { box-sizing:border-box;}

.container{
    display: flex;
    border-radius:3%;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}
.box{
    background-color: rgb(173, 185, 209);
    padding: 12px;
    border-radius: 5px;
}