.head {
    background-color: aqua;
}
.p1 {
    color: red;
    background-color: bisque;
}

.p2 {
    color: red;
    background-color: yellowgreen;
}

.p3 {
    color: orange;
    background-color: yellowgreen;
}