* { 
    box-sizing:border-box;
}
div {
    border: 2px solid black;
}

.half-box {
    display: inline-block;
    width: 40%;
    height: 150px;
    margin: 4%;
}

.top-bar{
    width: 90%;
    height: 75px;
    margin-left: 3%;
}