* { 
    box-sizing:border-box;
}

div {
    border: 2px solid black;
    display: inline-block;
    vertical-align: top;
    margin: auto;
}

.box {
    height: 160px;
    margin: 2%;
    text-align: center;
}

.nav-bar{
    width: 90%;
    height: 75px;
    margin: 3%;
}

.inside-bar{
    width: 90%;
    /* height: 70px; */
    margin: 2%;
}

.no-border{
    border: 0px;
}

.h48 {
    height: 48%;
}

.h28 {
    height: 28%;
}
.w40 {
    width: 40%;
}
.w25 {
    width: 25%;
}

.w45 {
    width: 45%;
}

.h90 {
    height: 60%;
}