* { 
    box-sizing:border-box;
}
div {
    border: 2px solid black;
    display: inline-block;
    vertical-align: top;
}

.half-box {
    width: 40%;
    height: 150px;
    margin: 4%;
}

.top-bar{
    width: 90%;
    height: 75px;
    margin-left: 3%;
}

.bottom-bar{
    width: 90%;
    height: 75px;
    margin-left: 3%;
}

.half-bar{
    width: 90%;
    height: 70px;
    margin: 1%;
}

.no-border{
    border: 0px;
}