* { box-sizing:border-box;}

.container{
    display: flex;
    border: 1px solid blue;
    border-radius:3%;
    align-items: center;
    justify-content: center;
    padding: 25%;
}
.box{
    background-color: rgb(173, 185, 209);
    padding: 10px;
    border-radius: 5px;
}