* { box-sizing:border-box;}

.container{
    display: flex;
    border:3px solid orange;
    border-radius:3%;
}

.container2{
    display: flex;
    width: 500px;
    border-radius:3%;
}
.box{
    padding: 12px;
    border-radius: 5px;
}

.grow5{
    flex-grow: 5;
}
.grow1{
    flex-grow: 1;
}

.color-blue{
    background-color: rgb(173, 185, 209);
}