ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 500px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(201, 200, 200);
  }
  
  .active {
    background-color: rgb(143, 143, 209);
  }