*{ box-sizing:border-box;}

.container{
    display: flex;
    height: 100px;
}
.box{
    padding: 10px;
    margin: 5px;
}

.background-green{
    background-color: greenyellow;
}

.grow5 {
    flex-grow: 5;
}
.grow1{
    flex-grow:1;
}
.beige {
    background-color: beige;
}
.greenish{
    background-color: aquamarine;
}
.h300 {
    height:300px;
}
