* { box-sizing:border-box;}

.container{
    display: flex;
    border: 1px solid blue;
    align-items: center;
    justify-content: space-between;
}
.button{
    background-color: rgb(173, 185, 209);
    padding: 10px;
    border-radius: 10px;
}